@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Quicksand:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .bark-pragraph{
        font-family: "Quicksand";
        font-weight: 600;
        text-align: left;
        color: #000A0D;
      }
      .we-recommend-using{
        font-family: "Quicksand";
        font-size: 17px;
        font-weight: 600;
        line-height: 30.6px;
        text-align: left;
        color: #000A0D;
      }
      .tokens—plenty-paragraph{
        font-family: "Quicksand";
        font-weight: 600;
        line-height: 30.6px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
      }
      .tokens—plenty-paragraph-1{
        font-family: "Quicksand";
        font-weight: 600;
        line-height: 30.6px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
      }
      .paragraph-12{
        font-family: "Quicksand";
        font-weight: 600;
        line-height: 34.2px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #FCFEFF;
      }
      .all-rights-reserved{
        font-family: 'Quicksand';
        font-weight: 700;
        line-height: 39.6px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #FCFEFF;
        text-shadow: 0px 1px 0px #000000;
      }
  }